main {
    max-width: 80%;
    margin: 80px auto;
    padding: 24px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

@media (max-width:768px) {
    main{
        max-width: 90%;
        padding: 10px;
    }
}

@media (max-width: 480px) {
    main {
        max-width: 100%;
        padding: 10px;
    }
}


h1 {
    font-size: 32px;
    margin-bottom: 16px;
}

p{
    font-size: 17px;
    color: #555;
    margin-bottom: 24px;
}

ul{
    list-style: none;
    padding-left: 20px;
    margin-bottom: 20px;
    text-align: left;
    display: inline-block;
}

li{
    margin-bottom: 8px;
}

nav a{
    display: inline-block;
    padding: 12px 24px;
    background-color: #2563eb;
    color: #fff;
    text-decoration: none;
    border-radius: 15px;
    font-weight: bold;
}

nav a:hover{
    background-color: #1e4fd6;
}